[submodule "vendor/scala-mode"]
	path = vendor/scala-mode
	url = https://github.com/haxney/scala-mode
[submodule "vendor/php-mode"]
	path = vendor/php-mode
	url = https://github.com/ejmr/php-mode
[submodule "vendor/haskell-mode"]
	path = vendor/haskell-mode
	url = https://github.com/haskell/haskell-mode
[submodule "vendor/scss-mode"]
	path = vendor/scss-mode
	url = https://github.com/antonj/scss-mode
[submodule "vendor/less-css-mode"]
	path = vendor/less-css-mode
	url = https://github.com/purcell/less-css-mode
[submodule "vendor/cperl-mode"]
	path = vendor/cperl-mode
	url = https://github.com/jrockway/cperl-mode
[submodule "vendor/js2-mode"]
	path = vendor/js2-mode
	url = https://github.com/mooz/js2-mode
[submodule "vendor/web-mode"]
	path = vendor/web-mode
	url = https://github.com/fxbois/web-mode
[submodule "vendor/yaml-mode"]
	path = vendor/yaml-mode
	url = https://github.com/yoshiki/yaml-mode
[submodule "vendor/clojure-mode"]
	path = vendor/clojure-mode
	url = https://github.com/technomancy/clojure-mode
[submodule "vendor/magit"]
	path = vendor/magit
	url = https://github.com/magit/magit
[submodule "vendor/tt-mode"]
	path = vendor/tt-mode
	url = https://github.com/davorg/tt-mode
[submodule "vendor/markdown-mode"]
	path = vendor/markdown-mode
	url = https://github.com/defunkt/markdown-mode.git
