[submodule "vendor/coffee-mode"]
	path = vendor/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
[submodule "vendor/scala-mode.git"]
	path = vendor/scala-mode.git
	url = git://github.com/haxney/scala-mode.git
[submodule "vendor/scala-mode"]
	path = vendor/scala-mode
	url = git://github.com/haxney/scala-mode.git
[submodule "vendor/php-mode"]
	path = vendor/php-mode
	url = git://github.com/ejmr/php-mode.git
[submodule "vendor/haskell-mode"]
	path = vendor/haskell-mode
	url = git://github.com/haskell/haskell-mode
[submodule "vendor/scss-mode"]
	path = vendor/scss-mode
	url = git://github.com/antonj/scss-mode.git
[submodule "vendor/less-css-mode"]
	path = vendor/less-css-mode
	url = git://github.com/purcell/less-css-mode.git
[submodule "vendor/cperl-mode"]
	path = vendor/cperl-mode
	url = git://github.com/jrockway/cperl-mode.git
[submodule "vendor/js2-mode"]
	path = vendor/js2-mode
	url = git://github.com/mooz/js2-mode.git
[submodule "vendor/web-mode"]
	path = vendor/web-mode
	url = git://github.com/fxbois/web-mode.git
[submodule "vendor/yaml-mode"]
	path = vendor/yaml-mode
	url = git://github.com/yoshiki/yaml-mode.git
[submodule "vendor/clojure-mode"]
	path = vendor/clojure-mode
	url = git://github.com/technomancy/clojure-mode.git
[submodule "vendor/magit"]
	path = vendor/magit
	url = https://github.com/magit/magit.git
[submodule "vendor/cl-lib"]
	path = vendor/cl-lib
	url = https://github.com/emacsmirror/cl-lib.git
[submodule "vendor/tt-mode"]
	path = vendor/tt-mode
	url = https://github.com/davorg/tt-mode.git
